/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif; /* Set your desired font family here */
    color: #333;
}

/* Basic styles for your website */
body {
    background-color: #f0f0f0;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Rest of your CSS styles... */


/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end; /* Align items to the left */
}

/* Update navigation styles */
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-left: 20px; /* Add margin to the left for spacing */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
}


section {
    min-height: 100vh;
    padding: 0;
    padding-top: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth; /* Add smooth scrolling */
}

.section-title {
    font-size: 2rem;
    margin: 0;
    padding: 20px 0;
    /* background-color: #333; */
    color: #fff;
    text-align: center;
}
/* CSS for the sticky class */
.sticky {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 1;
    background-color: #333;
    transition: all 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
}


/* CSS for the introduction section */
#introduction {
    background-color: #f9e0e3; /* Pastel pink */
    color: #333; /* Dark gray text color */
    position: relative;
}

#introduction h1 {
    font-size: 5rem;
}

.bio {
    width: 70%; 
    margin: 0 auto; 
    text-align: center;
    font-size: 1.25rem;
}

.lighter-name{
    font-weight: 300;
    color: #3e3e3e;
}

/* Skills section styles */
#skills {
    background-color: #b5e6da; /* Pastel turquoise */
    color: #333; /* White text color */
    padding: 60px 0;
}

#skills h2 {
    font-size: 2rem;
    color: #ff9900; /* Accent color */
    margin-bottom: 20px; /* Add some spacing between title and content */
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Add some gap between skill categories */
}

.skill-category {
    flex: 1;
    width: calc(20% - 20px); /* Adjust the width and subtract the gap */
    margin: 10px;
    text-align: center;
}

.skill-category h3 {
    font-size: 2rem;
    color: #ff9900; /* Accent color */
    margin-bottom: 10px;
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
}

.skill-category ul li {
    font-size: 1.2rem;
    margin-bottom: 10px; 
    /* padding: 10px;  */
    /* border-radius: 5px; */
    /* transition: background-color 0.3s; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.skill-category ul li i {
    /* padding: 0px 20px; */
    margin-right: 10px;
}

.progress-bar {
    width: 100px; /* Adjust the width of the progress bar */
    background-color: #eee;
    border-radius: 5px;
    height: 10px;
    margin-left: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0; 
    background-color: #ff9900; /* Accent color */
    animation: fillProgressBar 2s ease-out;
}

/* Contact section styles */
#contact {
    background-color: #ffebb7; /* Pastel peach */
    color: #333; /* Dark gray text color */
}

#contact h2 {
    font-size: 2rem;
    color: #ff9900; /* Accent color */
    margin-bottom: 20px; /* Add some spacing between title and content */
}

.contact-icon {
    margin-top: 20px;
}

.contact-icon a {
    text-decoration: none;
    color: #333; /* Dark gray text color */
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.contact-icon i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.contact-icon a:hover {
    text-decoration: underline;
}

/* Add animation styles here */

/* Blink animation */
/* Blinking cursor animation */
@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Style the blinking cursor */
.blinking-cursor {
    font-size: 5rem;
    position: relative;
    top: -5px; /* Adjust the cursor's vertical position */
    color: #333; /* Accent color */
    animation: blink 2s step-end infinite;
}

/* Button styles */
.download-button {
    display: inline-block;
    background-color: #007acc; /* Accent color */
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #005aa3; /* Accent color on hover */
    color: #fff;
}


/* Style the skill cards */
.skill-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s; /* Add a hover effect */
    margin: 10px;
    width: 250px; /* Adjust the card width as needed */
}

.skill-card:hover {
    transform: translateY(-5px); /* Add a slight lift effect on hover */
}

.skill-icon {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #007acc; /* Adjust the color to match your design */
}

.skill-card h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #333; /* Adjust the color to match your design */
}

.skill-card p {
    font-size: 1rem;
    margin: 10px 0;
    color: #666; /* Adjust the color to match your design */
}
