:root {
  --primary-color: #353535;
  --secondary-color: #3c6e71;
  --text-color: #ffffff;
  --light-text-color: #d9d9d9;
  --background-color: #284b63;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  /* padding: 10px 0; */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

header i {
  font-size: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-left: 20px;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
}

section {
  min-height: 100vh;
  padding: 0;
  padding-top: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.section-title {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  padding: 10px 0;
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  background-color: var(--primary-color);
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#introduction {
  background-color: var(--light-text-color);
  color: var(--primary-color);
  position: relative;
}

#introduction h1 {
  font-size: 5rem;
  color: var(--primary-color);
}

.bio {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
}

.lighter-name {
  font-weight: 300;
  color: var(--secondary-color);
}

#skills {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 60px 0;
}

#contact {
  background-color: var(--light-text-color);
  color: var(--text-color);
}

#contact h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.contact-icon {
  margin-top: 20px;
}

.contact-icon a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.contact-icon i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.contact-icon a:hover {
  text-decoration: underline;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  font-size: 5rem;
  position: relative;
  top: -5px;
  color: var(--secondary-color);
  animation: blink 2s step-end infinite;
}

.download-button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.skill-category {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-between;
  padding: 0px 50px;
  gap: 20px;
}

.skill-category-title {
  display: flex;
  align-self: center;
  justify-content: center;
}

.skill-group {
  display: flex;
  align-self: center;
  justify-content: center;
  flex: 1;
}

.skill-card {
  flex: 1;
  width: 180px;
  max-width: 180px;
  margin: 10px;
  text-align: center;
  background-color: var(--light-text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.skill-icon {
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.skill-card h4 {
  font-size: 1.5rem;
  color: var(--text-color);
}

.skill-card p {
  font-size: 1rem;
  color: #666;
}

.skill-category h3 {
  font-size: 1.8rem;
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  align-self: center;
  justify-self: flex-start;
}

.skill-category h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 20px 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer p {
  font-size: 1.2rem;
  color: var(--text-color);
}

footer .subnote {
  font-size: 0.65rem;
}

footer i {
  color: red;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
    position: static;
  }

  .blinking-cursor {
    font-size: 1.5rem;
    position: static;
  }

  #introduction h1 {
    font-size: 1.5rem;
  }

  .bio {
    width: 90%;
    font-size: 1rem;
  }

  .skill-category {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill-group {
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    flex: none;
  }

  .skill-card {
    width: 180px;
  }

  .section-title.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1;
    transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@media screen and (max-width: 576px) {
  footer .subnote {
    font-size: 0.5rem;
  }
}
